# JETimms 20140220_2255
# This .gitignore file will allow the Git repository to ignore files 
# matching the following file patterns.

# build files created by Visual Studio
*.ncb
vc*.idb
vc*.pdb

# build debug and release folders
build

# make files and object files
Makefile*
*.o

# Qt moc_ files
moc_*.cpp
moc_*.hpp

# the project executable
cashflow

# compiled Qt qrc_.cpp file
qrc_*.cpp

# distribution folders
distribute
